
body {
    background: linear-gradient(180deg, #3E3E3E 0%, #161616 100%);
    color: white;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.title {
    font-size: 24px;
    margin: 30px;
    text-align: center;
}

.emblem-wrapper {
    width: 512px;
    margin-top: 16px;
    position: relative;
}

.emblem {
    width: 100%;
}

.cta-link {
  margin-top: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 0px;
  text-decoration: none;
  font-weight: bold;
}

.button-row {
  display: flex;
  flex-flow: row;
}

.button-row > a {
  flex: 1;
  text-align: center;
}

.button-row > a + a {
  margin-left: 10px;
}

.cta-link:hover {
  cursor: pointer;
}

a {
  color: white;
}

.links {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-sizing: border-box;
  max-width: 32rem;
  padding: 0 10px;
}

.link {
  border-radius: 10px;
  font-size: 1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #3ca86d;
  color: #fff;
  border: none;
  align-self: center;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.2s;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
}

.link:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
  cursor: pointer;
}

.content {
  text-align: left;
  padding: 30px;
  padding-top: 0px;
  max-width: 800px;
}

.content div{
    line-height: 26px;
    text-align: justify;   
    font-size: 18px;
}

.content h1 {
    font-size: 28px;
}

.content h2 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.raised {
  font-size: 3em;
  color: #23c556;
  text-shadow: 0 0 9px #0000008f;
}

.goal {
  font-size: 3em;
  color: #27c7d9;
  text-shadow: 0 0 9px #0000008f;
}

.goal::after {
  content: 'ETH';
  margin-left: .5rem;
  font-size: .25em;
  text-shadow: none;
}

.js-tilt-glare {
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
  .emblem-wrapper {
      margin-top: 0px;
      width: 100%;
  }
}